@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #000000;
  }
}

.monoSpace {
  font-family: var(--font-ms);
  /* For SF-Pro-Display-Medium.otf */
}

.realtime {
  /* display: flex; */
  /* justify-content: center; */
}

@keyframes typing {
  to {
    clip-path: inset(0 0 0 0);
  }
}

@keyframes blink-cursor {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: hsl(300, 76%, 72%, 0.5);
  }
}
